

*{
margin: 0 ;
padding: 0;
box-sizing: border-box;


}
body{
    margin: 10px 60px;
}

.display-flex{
    display: flex;
}


.navbar{
    justify-content: space-between;
    align-items: center;
    
    
}
.navbar ul{
    justify-content: center;
    align-items: center;
}

.navbar li{
    list-style: none;
    padding: 10px;
    opacity: 0.6;
    
}

.navbar h3{
    font-size: 2em;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.banner{
 
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    
   
}
.banner-info p{
    margin: 29px 0;
    font-size: 1.4em;
}
.banner img{
    width: 100%;
    
}
.banner h1{
    font-size: 4em;
}

.banner-pic{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.banner button{
    background-color: #E02C6D;
    padding: 25px;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.icon-container{
    border-top: 1px solid gray;
   margin-top: 60px;
   border-bottom: 1px solid gray;
   

}
.icon{
    display: flex;
    
    justify-content:  space-around;
    justify-items: center;
    align-items: center;
    padding: 30px;
   
}
.products{

    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}
.product{
    box-shadow:  1px 0px 15px black;
    padding: 40px;
    margin-bottom: 40px;
}
.product h1,h4{
    margin-bottom: 40px;
}
    
    

@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
       text-align: center;
        
        
    }
    .navbar ul{
        flex-direction: column;
        text-align: center;
    }
    .banner{
       flex-direction: column-reverse;
        width: fit-content;
       text-align: center;

       padding-top: 20px;
    }
    .banner img,p,button{
        margin-bottom: 30px;
    }
    .icon{
        
       
        flex-wrap: wrap;
        flex: 1;
  
       
         
    }
    .icon img{
        width: 13vw;
        margin-bottom: 20px;
    }
    .icon-container{
        border: none;
       
    
    }
    .products{
        grid-template-columns: repeat(1,1fr);
    }
}